<%= stylesheet_link_tag "style", :media => "all" %>
<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/rails_default'%>
    <%= render 'layouts/shim' %>
  </head>

  <body>

    <header>
      <%= render "layouts/header" %>
    </header>

    <div id="main">
      <p><%= image_tag("main-img.jpg", alt: "main") %></p>
    </div>
    
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
    <div id="article_wrap">
      <%= yield %>
      <div class="clear"></div>
      </div>
      <%= debug(params) if Rails.env.development? %>
    </div>


    <footer>
      <%= render 'layouts/footer' %>
    </footer>


  </body>
</html>